# Backend
backend/intehub
backend/*.db
backend/*.log
backend/config/local.yaml

# Frontend
ui/node_modules
ui/dist
ui/.env.local
ui/.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
